<template>
    <nuxt-link :to="localePath('/')">
        <img
            src="~/assets/images/header/header-logo.svg"
            alt="coart market header logo"
        >
    </nuxt-link>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: 'SHeaderLogo',
    });
</script>

<style lang="scss" scoped>

</style>
