<template>
    <nav class="header-menu">
        <div
            v-for="(item, i) in menu"
            :key="`${item.pathName}-${i}`"
            class="header-menu__cell"
        >
            <nuxt-link
                v-if="item.pathName"
                :to="localePath({name: item.pathName})"
                class="header-menu__item"
            >
                {{ item.text }}
            </nuxt-link>
        </div>
    </nav>
</template>

<script lang="ts">
    import Vue from 'vue';

    interface MenuItem {
        text: string,
        pathName: string,
    }

    export default Vue.extend({
        name: 'SHeaderMenu',
        computed: {
            menu(): MenuItem[] {
                return [
                    // {
                    //     text: this.$t('header.top.faq'),
                    //     pathName: 'faq',
                    // },
                ] as MenuItem[];
            },
        },
    });
</script>

<style lang="scss" scoped>
    .header-menu {
        display: flex;
        gap: 2rem;

        &__wrapper {
            position: relative;
        }

        &__item {
            cursor: pointer;
            font-size: 1.125rem;

            &:hover {
                text-decoration: underline;
            }
        }

        &__dropdown {
            margin-top: 1rem;
            padding: 1.25rem 1rem;
            border: 1px solid #998e8e;
        }

        &__dropdown-item {
            margin-bottom: .75rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__sub-item {
            cursor: pointer;
            font-size: .875rem;
            font-weight: 400;
            white-space: nowrap;

            &:hover {
                text-decoration: underline;
            }
        }
    }

</style>
