<template>
    <header class="header">
        <s-header-top/>
    </header>
</template>

<script lang="ts">
    import Vue from 'vue';

    import SHeaderTop from '~/components/header/SHeaderTop.vue';

    export default Vue.extend({
        name: 'SHeader',
        components: {
            SHeaderTop,
        },
    });
</script>

<style lang="scss" scoped>
    .header {
        height: 100px;
        display: flex;
        flex-direction: column;
    }

</style>
