<template>
    <div class="s-header-top">
        <s-header-logo/>
        <s-header-menu/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    import SHeaderLogo from '~/components/header/SHeaderLogo.vue';
    import SHeaderMenu from '~/components/header/SHeaderMenu.vue';

    export default Vue.extend({
        name: 'SHeaderTop',
        components: {
            SHeaderLogo,
            SHeaderMenu,
        },
    });
</script>

<style lang="scss" scoped>
    .s-header-top {
        padding: 25px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 575px) {
            padding-right: 16px;
            padding-left: 16px;
        }
    }

</style>
