<template>
    <div
        class="column"
        :class="classes"
    >
        <slot/>
    </div>
</template>

<script lang="ts">
    import Vue, {PropOptions} from 'vue';

    export default Vue.extend({
        name: 'Column',
        props: {
            col: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            sm: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            md: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            lg: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            xl: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            colShift: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            smShift: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            mdShift: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            lgShift: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
            xlShift: {
                type: [Number, String],
                required: false,
                default: null,
                validator(value: number | string): boolean {
                    return (
                        typeof Number(value) === 'number' &&
                        Number(value) >= 0 &&
                        Number(value) <= 12
                    );
                },
            } as PropOptions<number>,
        },
        computed: {
            classes(): string {
                let classes = '';

                classes += this.col !== null ? `col-${this.col}` : '';
                classes += this.sm !== null ? ` col-sm-${this.sm}` : '';
                classes += this.md !== null ? ` col-md-${this.md}` : '';
                classes += this.lg !== null ? ` col-lg-${this.lg}` : '';
                classes += this.xl !== null ? ` col-xl-${this.xl}` : '';
                classes += this.colShift !== null ? ` col-shift-${this.colShift}` : '';
                classes += this.smShift !== null ? ` col-sm-shift-${this.smShift}` : '';
                classes += this.mdShift !== null ? ` col-md-shift-${this.mdShift}` : '';
                classes += this.lgShift !== null ? ` col-lg-shift-${this.lgShift}` : '';
                classes += this.xlShift !== null ? ` col-xl-shift-${this.xlShift}` : '';

                return classes;
            },
        },
    });
</script>

<style lang="scss" scoped>

</style>
