<template>
    <div
        class="row"
        :class="{'row_reverse': reverse === true}"
    >
        <slot/>
    </div>
</template>

<script lang="ts">
    import Vue, {PropOptions} from 'vue';

    export default Vue.extend({
        name: 'Row',
        props: {
            reverse: {
                type: Boolean,
                required: false,
                default: false,
            } as PropOptions<boolean>,
        },
    });
</script>

<style lang="scss" scoped>
    .row {
        &_reverse {
            flex-direction: row-reverse;
        }
    }

</style>
