$bg: #fcf9f0;
$primary: #363944;
$primary-hover: #48525e;
$secondary: #998e8e;
$highlight: #dab68f;
$highlight-hover: #e3c09b;
$additional: #efebe1;
$additional-hover: #e6e2d5;
$warning: #ec4f53;
$thin-grey: #b3b3b3;
