h1 {
    font-size: 2.46rem;
    line-height: 3.321rem;
    margin-bottom: 1.8453rem;
}

h2 {
    font-size: 1.8225rem;
    line-height: 2.46rem;
    margin-bottom: 1.3669rem;
}

h3 {
    font-size: 1.35rem;
    line-height: 1.8225rem;
    margin-bottom: 1.0125rem;
}

h4 {
    font-size: 1rem;
    line-height: 1.35rem;
    margin-bottom: .75rem;
}

h5 {
    font-size: .74rem;
    line-height: 1rem;
    margin-bottom: .5555rem;
}

h6 {
    font-size: .548rem;
    line-height: .74rem;
    margin-bottom: .4115rem;
}

p {
    font-size: 1rem;
    line-height: 1.35rem;
    margin-bottom: .75rem;
}
