<template>
    <container class="app-container">
        <slot/>
    </container>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: 'AppContainer',
    });
</script>

<style lang="scss" scoped>
    .app-container {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

</style>
