<template>
    <button
        :disabled="disabled"
        :type="type"
        class="button"
        :class="{'button_outline': outline, 'button_additional': additional, 'button_highlighted': highlighted}"
        @click="$emit('click')"
    >
        <slot/>
    </button>
</template>

<script lang="ts">
    import Vue, { PropOptions } from 'vue';

    export default Vue.extend({
        name: 'ButtonCommon',
        props: {
            type: {
                type: String,
                required: false,
                default: 'button',
                validator(value: string): boolean {
                    return ['submit', 'button', 'reset'].includes(value);
                },
            } as PropOptions<string>,
            outline: {
                type: Boolean,
                required: false,
                default: false,
            } as PropOptions<boolean>,
            additional: {
                type: Boolean,
                required: false,
                default: false,
            } as PropOptions<boolean>,
            highlighted: {
                type: Boolean,
                required: false,
                default: false,
            } as PropOptions<boolean>,
            disabled: {
                type: Boolean,
                required: false,
                default: false,
            } as PropOptions<boolean>,
        },
    });
</script>

<style lang="scss" scoped>
    @import "assets/scss/design-tokens/colors";

    .button {
        cursor: pointer;
        height: 48px;
        padding-left: 2rem;
        padding-right: 2rem;
        border: 1px solid $primary;
        border-radius: 24px;
        background-color: $primary;
        color: $additional;
        font-size: .875rem;
        transition: background-color 200ms ease;
        text-transform: uppercase;

        &:hover {
            background-color: $primary-hover;
        }

        &:disabled {
            cursor: default;
            background-color: #b3b3b3 !important;
            border: 1px solid #b3b3b3 !important;

            &:hover {
                background-color: #b3b3b3 !important;
            }
        }

        &_outline {
            background-color: transparent;
            color: $primary;

            &:hover {
                background-color: transparent;
            }
        }

        &_additional {
            background-color: $additional;
            color: $primary;

            &:hover {
                background-color: $additional-hover;
            }
        }

        &_highlighted {
            background-color: $highlight;
            color: white;

            &:hover {
                background-color: $highlight-hover;
            }
        }
    }

</style>
