<template>
    <label
        :for="formInputId"
        class="form-input"
        :class="[
            {
                'form-input_error': state === false,
            },
        ]"
    >
        <span
            v-if="label.length > 0"
            class="form-input__label"
        >
            <span>
                {{ label }}
            </span>
            <span
                v-if="required"
                class="form-input__required"
            >
                *
            </span>
        </span>
        <span class="form-input__wrapper-input">
            <span
                v-if="hasSlotIcon"
                class="form-input__icon"
            >
                <slot name="icon"/>
            </span>
            <input
                :id="formInputId"
                :disabled="disabled"
                :max="max"
                :min="min"
                :step="step"
                :placeholder="placeholder"
                :type="type"
                :value="value"
                :required="required"
                :class="{'form-input__input_has-icon': hasSlotIcon}"
                class="form-input__input"
                @blur="$emit('blur')"
                @focus="$emit('focus')"
                @input="onInput"
                @keydown="$emit('keydown')"
                @keypress="$emit('keypress')"
                @keyup="$emit('keyup')"
                @keydown.down="$emit('down')"
                @keydown.up="$emit('up')"
                @keypress.enter="$emit('enter', $event)"
            >
        </span>
    </label>
</template>

<script lang="ts">
    import Vue, { PropOptions } from 'vue';
    import { nanoid } from 'nanoid';

    export default Vue.extend({
        name: 'FormInput',
        props: {
            value: {
                type: [String, Number, null],
                required: false,
                default: null,
            } as PropOptions<string | number | null>,
            type: {
                type: String,
                required: false,
                default: 'text',
                validator(value: string): boolean {
                    const types = ['text', 'number', 'password', 'tel', 'url', 'email'];
                    return types.includes(value);
                },
            } as PropOptions<string>,
            step: {
                type: Number,
                required: false,
                default: 1,
            } as PropOptions<number>,
            label: {
                type: String,
                required: false,
                default: '',
            } as PropOptions<string>,
            placeholder: {
                type: String,
                required: false,
                default: '',
            } as PropOptions<string>,
            state: {
                type: [Boolean, null],
                required: false,
                default: null,
            } as PropOptions<boolean | null>,
            min: {
                type: Number,
                required: false,
                default: Number.NEGATIVE_INFINITY,
            } as PropOptions<number>,
            max: {
                type: Number,
                required: false,
                default: Number.POSITIVE_INFINITY,
            } as PropOptions<number>,
            disabled: {
                type: Boolean,
                required: false,
                default: false,
            } as PropOptions<boolean>,
            help: {
                type: String,
                required: false,
                default: '',
            } as PropOptions<string>,
            required: {
                type: Boolean,
                required: false,
                default: false,
            } as PropOptions<boolean>,
            copy: {
                type: Boolean,
                required: false,
                default: false,
            } as PropOptions<boolean>,
        },
        data: () => ({
            editedLabel: '' as string,
            formInputId: '' as string,
        }),
        computed: {
            hasSlotIcon(): boolean {
                return Boolean(this.$slots.icon);
            },
        },
        mounted() {
            this.formInputId = nanoid(6);
        },
        methods: {
            onInput(e: InputEvent): void {
                this.$emit('input', (e.target as HTMLTextAreaElement).value.trim());
            },
        },
    });
</script>

<style lang="scss" scoped>
    @import "assets/scss/design-tokens/colors";

    $icon-height: 16px;

    .form-input {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__label {
            width: 100%;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 130%;
            letter-spacing: .005em;
            color: $primary;
            display: flex;
        }

        &__wrapper-input {
            position: relative;
            display: flex;
            align-items: center;
        }

        &__input {
            width: 100%;
            text-overflow: ellipsis;
            height: 36px;
            padding-left: 1.5rem;
            font-size: 1.125rem;
            font-weight: 400;
            border: 1px solid $primary;
            background-color: transparent;
            border-radius: 0 !important;
            flex-grow: 1;

            &:disabled {
                background-color: $thin-grey;
                border: 1px solid $thin-grey;
            }

            &_has-icon {
                padding-left: 2.5rem;
            }
        }

        &__required {
            color: #0e8a1a;
            margin-left: .25rem;
        }

        &__copy {
            cursor: pointer;
            border: none;
            background-color: transparent;
            transition: transform 100ms ease;

            &:active {
                transform: scale(1.02);
            }
        }

        &__icon {
            position: absolute;
            left: .75rem;
        }

        &_error {
            .form-input__label {
                color: red;
            }

            .form-input__input {
                border-color: red;
            }

            .form-input__helper {
                color: red;
            }
        }
    }

</style>
