<template>
    <div :class="`help-tooltip help-tooltip_${modifier}`">
        <div v-html="text"/>
    </div>
</template>

<script lang="ts">
    import Vue, { PropOptions } from 'vue';

    export default Vue.extend({
        name: 'HelpTooltip',
        props: {
            x: {
                type: Number,
                required: false,
                default: -1,
            } as PropOptions<number>,
            y: {
                type: Number,
                required: false,
                default: -1,
            } as PropOptions<number>,
            text: {
                type: String,
                required: true,
            } as PropOptions<string>,
        },
        data: () => ({
            active: false as boolean,
        }),
        computed: {
            modifier(): string {
                if (
                    this.x === -1 ||
                    this.y === -1
                ) {
                    return 'tl';
                }

                if (process.client) {
                    const indentRight: number = window.innerWidth - this.x;
                    const indentBottom: number = window.innerHeight - this.y;

                    if (
                        indentRight < 200 &&
                        indentBottom < window.innerHeight - 30
                    ) {
                        return 'tl';
                    }

                    if (
                        indentRight >= 200 &&
                        indentBottom < window.innerHeight - 30
                    ) {
                        return 'tr';
                    }

                    if (
                        indentRight >= 200 &&
                        indentBottom >= window.innerHeight - 30
                    ) {
                        return 'br';
                    }

                    if (
                        indentRight < 200 &&
                        indentBottom >= window.innerHeight - 30
                    ) {
                        return 'bl';
                    }
                }

                return 'c';
            },
        },
    });
</script>

<style lang="scss" scoped>
    @import "assets/scss/design-tokens/colors";

    .help-tooltip {
        z-index: 2;
        position: absolute;
        width: 200px;
        background-color: $bg;
        display: flex;
        bottom: 125%;
        left: 0;
        transition: all 200ms ease;
        padding: 1rem;
        font-size: .85rem;
        font-weight: normal;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .15);

        &_tl {
            bottom: 125%;
            left: -190px;
        }

        &_tr {
            bottom: 125%;
            left: 0;
        }

        &_br {
            bottom: -170%;
            left: 0;
        }

        &_bl {
            bottom: -170%;
            left: -190px;
        }

        &_c {
            bottom: 125%;
            left: 100px;
        }
    }

</style>
