<template>
    <div
        v-click-outside="onClickOutsideTooltip"
        class="help"
    >
        <transition name="slide">
            <help-tooltip
                v-if="isShowHelp === true"
                :x="x"
                :y="y"
                :text="text"
            />
        </transition>
        <fa
            :icon="['far', 'question-circle']"
            class="help__icon"
            @click="onClickHelp"
        />
    </div>
</template>

<script lang="ts">
    import Vue, {PropOptions} from 'vue';

    import HelpTooltip from '~/components/elements/help/HelpTooltip.vue';

    export default Vue.extend({
        name: 'Help',
        components: {
            HelpTooltip,
        },
        props: {
            text: {
                type: String,
                required: true,
            } as PropOptions<string>,
        },
        data: () => ({
            isShowHelp: false as boolean,
            x: -1 as number,
            y: -1 as number,
        }),
        methods: {
            onClickOutsideTooltip(): void {
                if (this.isShowHelp) {
                    this.isShowHelp = false;
                    this.x = -1;
                    this.y = -1;
                }
            },
            onClickHelp(e: MouseEvent): void {
                if (!this.isShowHelp) {
                    this.isShowHelp = true;
                    this.x = e.clientX;
                    this.y = e.clientY;
                } else {
                    this.isShowHelp = false;
                    this.x = -1;
                    this.y = -1;
                }
            },
        },
    });
</script>

<style lang="scss" scoped>
    @import "assets/scss/design-tokens/colors";

    .slide-leave-active,
    .slide-enter-active {
        transition: 200ms ease-out;
    }

    .slide-enter {
        opacity: 0;
        transform: translateY(50%);
    }

    .slide-enter-to {
        opacity: 1;
    }

    .slide-leave-to {
        opacity: 0;
        transform: translateY(50%);
    }

    .help {
        position: relative;

        &__icon {
            cursor: pointer;
            transition: color 200ms ease;
            color: black;
        }
    }

</style>
