<template>
    <div class="footer-top">
        <nuxt-link :to="localePath('/')">
            <img
                src="~/assets/images/footer/footer-logo.svg"
                alt="coart market footer logo"
            >
        </nuxt-link>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: 'SFooterTop',
    });
</script>

<style lang="scss" scoped>

</style>
