<template>
    <div class="footer-bottom">
        <span>
            {{ rights }}
        </span>
        <span class="footer-bottom__delimiter"/>
        <nuxt-link
            :to="localePath({name: 'privacy-policy'})"
            class="footer-bottom__link"
        >
            {{ privacyPolicy }}
        </nuxt-link>
        <span class="footer-bottom__delimiter"/>
        <nuxt-link
            :to="localePath({name: 'terms'})"
            class="footer-bottom__link"
        >
            {{ terms }}
        </nuxt-link>
        <span class="footer-bottom__delimiter"/>
        <a
            :href="`mailto:${email}`"
            class="footer-bottom__link"
        >
            {{ email }}
        </a>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: 'SFooterBottom',
        data() {
            return {
                rights: this.$t('footer.rights'),
                privacyPolicy: this.$t('footer.privacyPolicy'),
                terms: this.$t('footer.terms'),
                email: 'coart@coart.biz',
            };
        },
    });
</script>

<style lang="scss" scoped>
    .footer-bottom {
        display: flex;
        flex-direction: row;
        font-size: .875rem;

        &__delimiter {
            margin-right: .375rem;
            margin-left: .375rem;
            border-left: 1px solid black;

            @media screen and (max-width: 575px) {
                display: none;
            }
        }

        @media screen and (max-width: 575px) {
            flex-direction: column;
            gap: 1rem;
        }

        &__link {
            &:hover {
                text-decoration: underline;
            }

            @media screen and (max-width: 575px) {
                text-align: center;
            }
        }
    }

</style>
