<template>
    <div class="footer-social">
        <a
            v-for="({link, icon}, i) in socials"
            :key="i"
            :href="link"
            target="_blank"
            rel="nofollow"
        >
            <fa
                class="footer-social__icon"
                :icon="['fab', icon]"
            />
        </a>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: 'SFooterSocial',
        data: () => ({
            socials: [
                {
                    link: 'https://www.facebook.com/coart.biz/',
                    icon: 'facebook',
                },
                {
                    link: 'https://www.instagram.com/coart_marketplace/',
                    icon: 'instagram',
                },
                {
                    link: 'https://www.linkedin.com/company/coart',
                    icon: 'linkedin',
                },
                {
                    link: 'https://twitter.com/coart_market',
                    icon: 'twitter',
                },
                {
                    link: 'https://t.me/CoArtPlatfrom',
                    icon: 'telegram',
                },
                {
                    link: 'https://link.medium.com/7kwjN9S3thb',
                    icon: 'medium',
                },
                {
                    link: 'https://www.reddit.com/r/CoArt_Market',
                    icon: 'reddit',
                },
                {
                    link: 'https://www.youtube.com/channel/UCEBlxCF3-y7xdJvl93RIYZA',
                    icon: 'youtube',
                },
                {
                    link: 'https://github.com/coartmarket',
                    icon: 'github',
                },
            ] as {link: string, icon: string}[],
        }),
    });
</script>

<style lang="scss" scoped>
    .footer-social {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25rem;

        &__icon {
            font-size: 1.75rem;
            color: black;
        }
    }

</style>
