<template>
    <footer class="footer">
        <s-footer-top class="footer_mb"/>
        <s-footer-social class="footer_mb"/>
        <s-footer-bottom/>
    </footer>
</template>

<script lang="ts">
    import Vue from 'vue';

    import SFooterTop from '~/components/footer/SFooterTop.vue';
    import SFooterSocial from '~/components/footer/SFooterSocial.vue';
    import SFooterBottom from '~/components/footer/SFooterBottom.vue';

    export default Vue.extend({
        name: 'SFooter',
        components: {
            SFooterTop,
            SFooterSocial,
            SFooterBottom,
        },
    });
</script>

<style lang="scss" scoped>
    .footer {
        flex-shrink: 0;
        padding-top: 3rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_mb {
            margin-bottom: 2rem;
        }
    }

</style>
