<template>
    <div
        id="app"
        class="app"
    >
        <div id="content">
            <s-header/>
            <nuxt/>
        </div>
        <s-footer/>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    import SHeader from '~/components/header/SHeader.vue';
    import SFooter from '~/components/footer/SFooter.vue';

    export default Vue.extend({
        name: 'Default',
        components: {
            SHeader,
            SFooter,
        },
    });
</script>

<style lang="scss">
    @import "assets/scss/settings/global";
    @import "assets/scss/skeleton/grid";
    @import "assets/scss/design-tokens/typography";
    @import "assets/scss/utilities/modifiers";
</style>

<style lang="scss" scoped>
    .app {
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }

    #content {
        position: relative;
        flex: 1 0 auto;
    }

</style>
