<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        layout: 'blank',
        props: {
            error: {
                type: Object,
                default: null,
            },
        },
        created() {
            if (this.error && this.error.statusCode === 404) {
                this.$nuxt.context.redirect(301, '/not-found');
            }
        },
    });
</script>

<style lang="scss" scoped>
    .error {
        padding-top: 5rem;
    }

</style>
