<template>
    <container class="buy">
        <row>
            <column
                col="12"
                md="7"
            >
                <h2 class="buy__title">
                    {{ $t('buy.title') }}
                </h2>
                <div
                    class="buy__text"
                    v-html="$t('buy.text')"
                />
                <p class="buy__slogan">
                    {{ $t('buy.slogan') }}
                </p>
                <div class="buy__status">
                    <div
                        v-if="connected === false && isMounted === true"
                        class="buy__row f-w"
                    >
                        <div
                            class="buy__connect"
                            @click="connectWalletconnectAccount"
                        >
                            <icon-wallet-connect/>
                            {{ $t('buy.walletconnect') }}
                        </div>
                        <div
                            v-if="$nuxt.$device.isDesktop === true && needInstallMetamask === false"
                            class="buy__connect"
                            @click="connectMetamaskAccount"
                        >
                            <icon-metamask/>
                            {{ $t('buy.metamask') }}
                        </div>
                        <a
                            v-else-if="$nuxt.$device.isDesktop === true"
                            href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en"
                            target="_blank"
                            rel="nofollow noreferrer noopener"
                            class="buy__install"
                        >
                            <icon-metamask/>
                            {{ $t('buy.needInstallMetamask') }}
                        </a>
                    </div>
                    <p
                        v-else-if="connected === true && isMounted === true"
                        class="buy__success"
                    >
                        {{ `${$t('buy.connected')} ${agent}` }}
                    </p>
                </div>
            </column>
        </row>
        <row>
            <column
                col="12"
                md="6"
                lg="5"
            >
                <form @submit.prevent="buy">
                    <div class="buy__row">
                        <form-input
                            v-model="amount"
                            type="number"
                            :step="0.1"
                            :min="0.1"
                            :max="5"
                            :label="$t('buy.amount.label')"
                            :placeholder="$t('buy.amount.placeholder')"
                            :disabled="!connected"
                            required
                        />
                        <button-common
                            type="submit"
                            :disabled="!connected"
                        >
                            {{ $t('buy.buy') }}
                        </button-common>
                    </div>
                </form>
                <div class="buy__row">
                    <button-common
                        :disabled="!connected"
                        @click="checkWhiteList"
                    >
                        {{ $t('buy.whiteList') }}
                    </button-common>
                    <help :text="whitelistText"/>
                </div>
                <div class="buy__row">
                    <button-common
                        :disabled="!connected"
                        @click="claimRemainingTokens"
                    >
                        {{ $t('buy.request') }}
                    </button-common>
                    <help :text="$t('buy.claimText')"/>
                </div>
            </column>
        </row>
    </container>
</template>

<script lang="ts">
    import Vue from 'vue';
    import { ethers, providers } from 'ethers';
    import detectEthereumProvider from '@metamask/detect-provider';
    import WalletConnectProvider from '@walletconnect/web3-provider';

    import ButtonCommon from '~/components/elements/ButtonCommon.vue';
    import FormInput from '~/components/elements/FormInput.vue';
    import Help from '~/components/elements/help/Help.vue';
    import IconMetamask from '~/components/elements/icon/IconMetamask.vue';
    import IconWalletConnect from '~/components/elements/icon/IconWalletConnect.vue';

    import { address, ABI } from '~/const/contract';

    export default Vue.extend({
        name: 'Buy',
        components: {
            ButtonCommon,
            FormInput,
            Help,
            IconMetamask,
            IconWalletConnect,
        },
        data: () => ({
            account: '' as string,
            amount: null as string | null,
            connected: false as boolean | null,
            agent: '' as string,
            contract: {} as any,
            provider: {} as any,
            signer: {} as any,
            whitelistText: 'Just to be sure, check your address on ' +
                '<a href="https://bscscan.com/address/0xEDa5566DcA333D6F0E9283eda25e78b4BD0e29bf#readContract" ' +
                'target="_blank" style="color: #dab68f;">BscScan</a>. You have to insert you wallet Smart Chain ' +
                'network address into the read function of the contract “isWhitelisted”',
            isMounted: false as boolean,
            needInstallMetamask: false as boolean,
        }),
        async mounted() {
            const connectedWalletConnect: string | null = localStorage.getItem('wallet-connect');

            if (connectedWalletConnect === '1') {
                await this.connectWalletconnectAccount();
            }

            if (this.connected === false) {
                await this.initMetamask();
            }

            this.isMounted = true;
        },
        methods: {
            async initMetamask(): Promise<any> {
                const providerMetamask = await detectEthereumProvider();

                try {
                    // @ts-ignore
                    ethereum.on('accountsChanged', this.handleAccountsChanged);
                } catch (err) {
                    console.error('Please install MetaMask!');
                    this.needInstallMetamask = true;
                }

                if (providerMetamask) {
                    console.log('MetaMask is installed!');

                    // @ts-ignore
                    return await ethereum
                        .request({ method: 'eth_accounts' })
                        .then(this.handleAccountsChanged)
                        .catch((err) => {
                            console.error(err);
                        });
                } else {
                    console.log('Please install MetaMask!');
                }
            },
            async connectWalletconnectAccount(): Promise<any> {
                const walletConnectProvider = new WalletConnectProvider({
                    rpc: {
                        56: 'https://bsc-dataseed.binance.org',
                    },
                });

                await walletConnectProvider
                    .enable()
                    .then((resp) => {
                        if (resp.length > 0) {
                            this.account = resp[0];
                            this.connected = true;
                            this.agent = 'WalletConnect';

                            localStorage.setItem('wallet-connect', '1');

                            walletConnectProvider.on('accountsChanged', (accounts: string[]) => {
                                if (accounts.length === 0) {
                                    localStorage.setItem('wallet-connect', '0');
                                    this.connected = false;
                                    this.account = '';
                                } else {
                                    this.account = accounts[1];
                                }
                            });

                            // walletConnectProvider.on('chainChanged', (chainId: number) => {
                            //     // console.log('chainId', chainId);
                            // });

                            // walletConnectProvider.on('disconnect', (code: number, reason: string) => {
                            walletConnectProvider.on('disconnect', () => {
                                // console.log('code, reason', code, reason);
                                localStorage.setItem('wallet-connect', '0');
                                this.connected = false;
                                this.account = '';
                            });

                            this.provider = new providers.Web3Provider(walletConnectProvider);
                            this.signer = this.provider.getSigner();
                            this.contract = new ethers.Contract(address, ABI, this.provider);
                        } else {
                            this.connected = false;
                        }
                    })
                    .catch((err) => {
                        console.log('err', err);
                        this.connected = false;
                    });
            },
            async connectMetamaskAccount(): Promise<any> {
                // @ts-ignore
                await ethereum.request({ method: 'eth_requestAccounts' });
            },
            initMetamaskContract(): void {
                // @ts-ignore
                this.provider = new ethers.providers.Web3Provider(window.ethereum);
                this.signer = this.provider.getSigner();
                this.contract = new ethers.Contract(address, ABI, this.provider);
            },
            async buy(): Promise<any> {
                if (!this.connected) {
                    this.$toasted
                        .show(
                            this.$t('buy.error.connect') as string,
                            { type: 'error' },
                        )
                        .goAway(5000);
                    return false;
                }

                if (
                    this.amount === null ||
                    Number(this.amount) < 0.1 ||
                    Number(this.amount) > 5
                ) {
                    this.$toasted
                        .show(
                            this.$t('buy.amount.error') as string,
                            { type: 'error' },
                        )
                        .goAway(5000);
                    return false;
                }

                await this.contract
                    .connect(this.signer)
                    .buy({
                        value: ethers.utils.parseEther(this.amount),
                    })
                    .catch(() => {
                        this.$toasted
                            .show(
                                this.$t('buy.amount.noFunds') as string,
                                { type: 'error' },
                            )
                            .goAway(5000);
                    });
            },
            async checkWhiteList(): Promise<any> {
                if (!this.connected) {
                    this.$toasted
                        .show(
                            this.$t('buy.error.connect') as string,
                            { type: 'error' },
                        )
                        .goAway(5000);
                    return false;
                }

                if (this.account.length === 0) {
                    this.$toasted
                        .show(
                            this.$t('buy.error.noAddress') as string,
                            { type: 'error' },
                        )
                        .goAway(5000);
                    return false;
                }

                await this.contract
                    .connect(this.signer)
                    .isWhitelisted(this.account)
                    .then((resp) => {
                        if (resp === true) {
                            this.$toasted
                                .show(
                                    this.$t('buy.inWhitelist') as string,
                                    { type: 'success' },
                                )
                                .goAway(3000);
                        } else {
                            this.$toasted
                                .show(this.$t('buy.notInWhitelist') as string)
                                .goAway(5000);
                        }
                    })
                    .catch(() => {
                        this.$toasted
                            .show(
                                this.$t('general.toast.error.common') as string,
                                { type: 'error' },
                            )
                            .goAway(5000);
                    });
            },
            async claimRemainingTokens(): Promise<any> {
                if (!this.connected) {
                    this.$toasted
                        .show(
                            this.$t('buy.error.connect') as string,
                            { type: 'error' },
                        )
                        .goAway(3000);
                    return false;
                }

                await this.contract
                    .connect(this.signer)
                    .claimRemainingTokens()
                    .then(() => {
                        this.$toasted
                            .show(this.$t('buy.successClaim') as string)
                            .goAway(5000);
                    })
                    .catch((err) => {
                        if (err.code === -32603) {
                            this.$toasted
                                .show(this.$t('buy.alreadyClaimed') as string)
                                .goAway(5000);
                        } else {
                            this.$toasted
                                .show(
                                    this.$t('general.toast.error.common') as string,
                                    { type: 'error' },
                                )
                                .goAway(5000);
                        }
                    });
            },
            handleAccountsChanged(accounts: string[]): void {
                if (accounts.length === 0) {
                    this.connected = false;
                } else if (accounts[0]) {
                    this.connected = true;
                    this.account = accounts[0];
                    this.agent = 'MetaMask';
                    this.initMetamaskContract();
                }
            },
        },
    });
</script>

<style lang="scss" scoped>
    @import "assets/scss/design-tokens/colors";

    .buy {
        padding-top: 3rem;

        @media screen and (max-width: 575px) {
            padding-top: 1rem;
        }

        &__connect {
            cursor: pointer;
            height: 48px;
            display: flex;
            align-items: center;
            gap: .5rem;
            background-color: $primary;
            color: white;
            border-radius: 24px;
            padding-left: 2rem;
            padding-right: 2rem;
            transition: background-color 200ms ease;

            &:hover {
                background-color: $primary-hover;
            }
        }

        &__install {
            cursor: pointer;
            height: 48px;
            display: flex;
            align-items: center;
            gap: .5rem;
            background-color: $bg;
            border: 1px solid $primary;
            color: $primary;
            border-radius: 24px;
            padding-left: 2rem;
            padding-right: 2rem;
            transition: background-color 200ms ease;

            &:hover {
                background-color: #f1ecdd;
                text-decoration: none;
            }
        }

        &__success {
            color: green;
        }

        &__title {
            font-size: 31px;
            line-height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 34px;
            font-weight: 300;
        }

        &__slogan {
            margin-top: 1rem;
            margin-bottom: 2rem;
            font-size: 30px;
            font-weight: 300;
        }

        &__row {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1.5rem;
        }

        &__status {
            height: 48px;
            margin-bottom: 2rem;

            @media screen and (max-width: 575px) {
                height: auto;
            }
        }
    }

    .f-w {
        flex-wrap: wrap;
    }

</style>
