<template>
    <app-container class="faq">
        <row>
            <column
                col="12"
                lg="6"
                lg-shift="3"
            >
                <h1 class="faq__title">
                    {{ $t('faq.title') }}
                </h1>
                <div
                    v-html="$sanitize($t('faq.text'))"
                    class="faq__text"
                />
            </column>
        </row>
    </app-container>
</template>

<script lang="ts">
    import Vue from 'vue';

    import AppContainer from '~/components/elements/AppContainer.vue';

    export default Vue.extend({
        name: 'Faq',
        components: {
            AppContainer,
        },
    });
</script>

<style lang="scss" scoped>
    .faq {
        &__text {
            ::v-deep a:hover {
                text-decoration: underline;
            }
        }
    }

</style>
