<template>
    <container class="index">
        <row>
            <column
                col="12"
                md="7"
            >
                <h2 class="index__top">
                    {{ $t('index.top') }}
                </h2>
                <p class="index__note">
                    Whitelist contract address:
                    <a
                        href="https://bscscan.com/address/0xeda5566dca333d6f0e9283eda25e78b4bd0e29bf"
                        rel="nofollow noreferrer noopener"
                        target="_blank"
                    >
                        https://bscscan.com/address/0xeda5566dca333d6f0e9283eda25e78b4bd0e29bf
                    </a>
                </p>
                <div
                    class="index__text"
                    v-html="$t('index.text')"
                />
                <p class="index__arrow">
                    -------------------------------------->
                </p>
                <p class="index__note">
                    If you want to add CAV to your wallet, you have to add a as custom token. You have to use token address provided below.
                    <br>
                    COART VR Token (CAV) address: 0x2A4003685ef85Be493e007B9D14CB4a39F4e2ACf
                    <br>
                    Token Symbol: CAV
                    <br>
                    Decimals: 18
                </p>
                <h1 class="index__title">
                    {{ $t('index.title') }}
                </h1>
                <p class="index__slogan">
                    {{ $t('index.slogan') }}
                </p>
            </column>
            <column
                col="12"
                md="5"
                class="index__right"
            >
                <nuxt-link
                    :to="localePath({name: 'buy'})"
                    v-slot="{navigate}"
                    custom
                    class="index__link"
                >
                    <div @click="navigate">
                        <span class="index__link-text">
                            Buy
                            <br>
                            now
                        </span>
                        <div
                            role="button"
                            class="index__hexagon"
                        />
                    </div>
                </nuxt-link>
            </column>
        </row>
    </container>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({});
</script>

<style lang="scss" scoped>
    @import "assets/scss/design-tokens/colors";

    .index {
        padding-top: 3rem;

        @media screen and (max-width: 575px) {
            padding-top: 1rem;
        }

        &__note {
            word-break: break-all;
        }

        &__top {
            font-size: 31px;
            line-height: 40px;
        }

        &__text {
            font-size: 22px;
            line-height: 34px;
            font-weight: 300;
        }

        &__title {
            font-weight: 400;
            font-size: 45px;
            margin-bottom: .5rem;
        }

        &__slogan {
            font-size: 30px;
            font-weight: 300;
        }

        &__arrow {
            margin-top: 2rem;
            margin-bottom: 2rem;

            @media screen and (max-width: 575px) {
                display: none;
            }
        }

        &__right {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__link {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__hexagon {
            cursor: pointer;
            position: relative;
            width: 228px;
            height: 131.64px;
            background-color: $highlight;
            margin: 65.82px 0;
            transition: background-color 200ms ease;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 0;
                border-left: 114px solid transparent;
                border-right: 114px solid transparent;
            }

            &::before {
                bottom: 100%;
                border-bottom: 65.82px solid $highlight;
                transition: border-bottom-color 200ms ease;
            }

            &::after {
                top: 100%;
                width: 0;
                border-top: 65.82px solid $highlight;
                transition: border-top-color 200ms ease;
            }

            &:hover {
                background-color: $highlight-hover;

                &::before {
                    border-bottom-color: $highlight-hover;
                }

                &::after {
                    border-top-color: $highlight-hover;
                }
            }
        }

        &__link-text {
            z-index: 2;
            cursor: pointer;
            position: absolute;
            color: #fdf9f0;
            font-size: 37px;
            line-height: 130%;
            letter-spacing: .005rem;
            text-shadow: 0 4px 4px rgba(0, 0, 0, .11);
            text-transform: uppercase;
            text-align: center;

            &:hover {
                + .index__hexagon {
                    background-color: $highlight-hover;

                    &::before {
                        border-bottom-color: $highlight-hover;
                    }

                    &::after {
                        border-top-color: $highlight-hover;
                    }
                }
            }
        }
    }

</style>
