<template>
    <div class="not-found">
        <h1 class="not-found__title">
            {{ $t('general.notFound.title') }}
        </h1>
        <img
            src="~/assets/images/general/not-found.svg"
            alt="not found image"
            class="not-found__image"
        >
        <nuxt-link
            :to="localePath({name: 'index'})"
            class="not-found__button"
        >
            {{ $t('general.notFound.button') }}
        </nuxt-link>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';

    import ButtonCommon from '~/components/elements/ButtonCommon.vue';

    export default Vue.extend({
        name: 'NotFound',
        components: {
            ButtonCommon,
        },
    });
</script>

<style lang="scss" scoped>
    @import "assets/scss/design-tokens/colors";

    .not-found {
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-weight: 700;
            font-size: 1.125rem;
            text-align: center;
            margin-bottom: 5rem;
            text-transform: uppercase;
        }

        &__image {
            width: 100%;
            margin-bottom: 6rem;
        }

        &__button {
            text-decoration: none;
            display: flex;
            align-items: center;
            width: fit-content;
            cursor: pointer;
            height: 48px;
            padding-left: 2rem;
            padding-right: 2rem;
            border: 1px solid $primary;
            border-radius: 24px;
            font-size: .875rem;
            transition: background-color 200ms ease;
            text-transform: uppercase;
            background-color: transparent;
            color: $primary;
        }
    }

</style>
