<template>
    <app-container class="privacy-policy">
        <row>
            <column
                col="12"
                lg="8"
            >
                <h1>
                    {{ $t('privacy.title') }}
                </h1>
                <div v-html="$sanitize($t('privacy.text'))"/>
            </column>
        </row>
    </app-container>
</template>

<script lang="ts">
    import Vue from 'vue';

    import AppContainer from '~/components/elements/AppContainer.vue';

    export default Vue.extend({
        name: 'PrivacyPolicy',
        components: {
            AppContainer,
        },
    });
</script>

<style lang="scss" scoped>

</style>
