$grid-xl-breakpoint: 1200px;
$grid-xl-columns: 12;

$grid-lg-breakpoint: 992px;
$grid-lg-columns: 12;

$grid-md-breakpoint: 768px;
$grid-md-columns: 12;

$grid-sm-breakpoint: 576px;
$grid-sm-columns: 12;

$grid-xs-columns: 12;

.container {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.row {
    box-sizing: border-box;
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
    flex-wrap: wrap;
}

@function col-width($i, $columns) {
    @return 100% / $columns * $i;
}

@mixin columns-name-loop($name, $columns) {
    @for $i from 0 through $columns {
        @if $i != 0 {
            &-#{$name}-#{$i} {
                display: block;
                max-width: col-width($i, $columns);
                position: relative;
                width: 100%;
                padding-right: 16px;
                padding-left: 16px;
            }

            &-#{$name}-shift-#{$i} {
                margin-left: col-width($i, $columns);
            }
        }

        @else {
            &-#{$name}-#{$i} {
                display: none;
            }

            &-#{$name}-shift-#{$i} {
                margin-left: col-width($i, $columns);
            }
        }
    }
}

@mixin columns-loop($columns) {
    @for $i from 0 through $columns {
        @if $i != 0 {
            &-#{$i} {
                display: block;
                max-width: col-width($i, $columns);
                position: relative;
                width: 100%;
                padding-right: 16px;
                padding-left: 16px;
            }

            &-shift-#{$i} {
                margin-left: col-width($i, $columns);
            }
        }

        @else {
            &-#{$i} {
                display: none;
            }

            &-shift-#{$i} {
                margin-left: col-width($i, $columns);
            }
        }
    }
}

.col {
    @include columns-loop($grid-xs-columns);

    @media screen and (min-width: $grid-sm-breakpoint) {
        @include columns-name-loop(sm, $grid-sm-columns);
    }

    @media screen and (min-width: $grid-md-breakpoint) {
        @include columns-name-loop(md, $grid-md-columns);
    }

    @media screen and (min-width: $grid-lg-breakpoint) {
        @include columns-name-loop(lg, $grid-lg-columns);
    }

    @media screen and (min-width: $grid-xl-breakpoint) {
        @include columns-name-loop(xl, $grid-xl-columns);
    }
}
