.p-r {
    position: relative;
}

.d-f {
    display: flex;
}

.d-f-c {
    display: flex;
    flex-direction: column;
}

.d-f-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-f-ce {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-fsc {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.d-fbr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-fc {
    display: flex;
    justify-content: center;
}

.d-fcw {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.d-fcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-fbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-fac {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.d-fss {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.d-fe {
    display: flex;
    justify-content: flex-end;
}

.ai-c {
    align-items: center;
}

.mt-1 {
    margin-top: .25rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 3rem;
}

.mr-1 {
    margin-right: .25rem;
}

.mr-2 {
    margin-right: .5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-5 {
    margin-right: 2rem;
}

.mr-i {
    margin-right: 1.5rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: .25rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 3rem;
}

.ml-1 {
    margin-left: .25rem;
}

.ml-2 {
    margin-left: .5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.m-a {
    margin: auto;
}

.mt-i {
    margin-top: 1.5rem;
}

.mb-i {
    margin-bottom: 1.5rem;

    &_sm {
        margin-bottom: 0;

        @media screen and (max-width: 767px) {
            margin-bottom: 1.5rem;
        }
    }
}

.pr-4 {
    padding-right: 4rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pl-2 {
    padding-left: 2rem;
}

.ml-i {
    margin-left: 1.5rem;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.fw-bold {
    font-weight: bold;
}

.h-auto {
    height: auto !important;
}

.text-center {
    text-align: center;
}

.color-white {
    color: white;
}

.w-100 {
    width: 100% !important;
}
